manifest {
    name            = 'cemselb/nf-singlecell-biomarker'
    author          = 'Cemsel B Suomi'
    homePage        = 'https://github.com/cemselb/nf-singlecell-biomarker'
    description     = 'A Nextflow pipeline for scRNA-seq QC, filtering, and dimensionality reduction.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}

params {
    backend    = 'scanpy'
    input_url  = 'https://cf.10xgenomics.com/samples/cell-exp/1.1.0/pbmc3k/pbmc3k_filtered_gene_bc_matrices.tar.gz'
    outdir     = './results'
    min_genes  = 200
    min_cells  = 3
    max_mito   = 5.0
}

process {
    conda = "${projectDir}/environment.yml"
}
